<%- include ('./partials/header.ejs') %> 
<body>
    <%- include ('./partials/navbar.ejs') %> 
    <div class="container">
        <h1>Lista de compras</h1>
        <p> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Recusandae impedit laudantium ducimus dolorum obcaecati harum facilis laborum, 
            at veritatis ullam enim neque distinctio, 
            suscipit voluptates magnam nihil voluptas beatae nemo.
        </p>   
    </div>
    
</body>
</html>